<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
    <nav class="navbar">
        <h1 class="brandName">{{websiteName}}</h1>
        <div class="navigationLinks">
            <li><a href="/home">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/help">Customer Care</a></li>
            <li><input type="search"></li>
            <li>🛒</li>
            {% if LOGGEDIN%}
                <li>Profile</li>
            {%else%}
            <li><button class="btn signup"> <a href="/signup">Sign Up</a></button></li>
            <li><button class="btn login"> <a href="/login">Log In</a></button></li>
            {%endif%}
        </div>
    </nav>

    {% block bodyContent %}
    {% endblock %}


    <footer class="ft">
        <p>&copy; 2024 {{websiteName}}. All rights reserverd.</p>
    </footer>


</body>